header{
    background-color: #FFB2D9;
    height: 100px;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    font-size: 30px;
}
nav{
    background-color: #FFD9EC;
    height:70px;
    text-align: center;
    vertical-align: center;
    line-height: 70px;
    font-size:15px;

}
section{
    background-color: #EDC7DA;
    height: 700px;
    text-align: center;
    vertical-align: center;

}
footer{
    background-color: #B791A4;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
}